[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
panel = "*"
pandas = "*"
plotly-express = "*"
plotly = "*"
notebook = "*"
voila = "*"
ipywidgets = "*"
streamlit = "*"
extra-streamlit-components = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.11"
